.nav 
    display: flex
    padding: 20px 0
    font: 1.5rem $primary-font
    z-index: 5
    a
        text-decoration: none
        color: $third-color 
        padding: 20px 15px
    .active
        color: $fourth-color
    .nav-brand
        position: fixed
        top: 0
        left: 0
        color: $third-color
        z-index: 101
        padding: 20px 0 0 20px
        &:hover
            color: $fourth-color

.hamburgerBtn 
    position: fixed
    top: 0
    right: 0
    padding: 20px 20px 0 0
    z-index: 101
    span
        display: inline-block
        position: relative
        width: 33px
        height: 4px
        border-radius: 3px
        background-color: white
        &::before, &::after
            display: inline-block
            position: absolute
            content: ''
            height: 4px
            width: 33px
            border-radius: 3px
            background-color: white
            transition: all 200ms
        &::before
            top: -11px
        &::after
            top: 11px 
    .hamburgerAni
        height: 0
        &::before, &::after
            top: 0
        &::before
            transform: rotate(45deg)
        &::after
            transform: rotate(-45deg)
                        
.hamburgerMenu
    ul
        visibility: hidden
        position: fixed
        top: 0
        right: -400px
        height: 100vh
        transition: all 1s ease-in-out
        width: 0
        z-index: 100
        font-size: 2rem
        text-align: center
        li
            padding-bottom: 30px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
    &::before
       z-index: 2
       font-size: 1rem
       display: block
       position: fixed
       top: 0
       right: 0
       content: ''
       width: 0
       height: 100vh
       background-color: $fifth-color
       transition: all 500ms ease-in-out
       a
            opacity: 0
            visibility: hidden

.hamburgerMenuAni
    ul 
        visibility: visible
        transition: all 1s ease-in-out
        display: flex
        width: 20vw
        right: 0
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: $fifth-color
        @media #{$mobile}
            width: 60vw
        li
            padding-bottom: 30px
        a
            text-decoration: none
            opacity: 1
            &:hover
                opacity: 0.6

.hamburgerMenuAni.hamburgerMenu:before
    visibility: visible
    a
        opacity: 1