.nav 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 0
    font: 1.2rem $primary-font
    position: relative
    top: 0
    box-shadow: 0 4px 4px -3px $third-color
    a
        text-decoration: none
        color: $third-color 
        padding: 20px 15px
        // border: 1px solid $third-color
        &:hover
            color: $fourth-color
            box-shadow: 0 4px 4px -3px $fourth-color

    .active
        color: $fourth-color

    .nav-brand
        a
            color: $third-color
            padding-left: 20px
            
            &:hover
                color: $fourth-color
            
    

