.projects
    height: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin: 0 auto 30px
    z-index: 2
    position: relative
    bottom: 0
    // animation: slide-up 2s ease
    overflow: hidden
    .project
        height: 85vh;
        width: 45%
        background: $secondary-color
        margin: 20px
        &[data-aos-duration]
            transition-duration: 5000ms
    .content
        color: $fourth-color
        background: $primary-color
        font-family: $primary-font
        a
            color: $third-color
            &:hover
                color: $fourth-color
                font-size: 2rem
    .display
        img 
            height: 100%
            max-width: 100%