//colors
$blue: #355c7d
$purple: #6c5b7b
$pinkish: #c06c84
$lightred: #f67280
$lightorange: #f8b195

// font
$primary-font: 'Lato', sans-serif;

// media queries
$tablet: '(max-width : 800px)'
$mobile: '(max-width : 400px)'