//colors
// $primary-color: #99b898
// $secondary-color: #2a363b
// $third-color: #fecea8
// $fourth-color: #e84a5f
// $fifth-color: #ff847c

$primary-color: #0b0c10
$secondary-color: #1f2833
$third-color: #c5c6c7
$fourth-color: #66fcf1
$fifth-color: #45a29e

// font
$primary-font: 'Lato', sans-serif;

// media queries
$tablet: '(max-width : 800px)'
$mobile: '(max-width : 500px)'