.welcome 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    font-family: $primary-font
    background: $blue
    color: $lightorange
    h1 
        font-size: 2rem
    h2 
        font-size: 1rem